/* fortune-ball-shake.css */

@keyframes shake {
  10%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  80% {
    transform: translateX(10px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  40%,
  60% {
    transform: translateX(10px);
  }
}

.shake-animation {
  animation: shake 1s ease-in-out infinite; /* Adjust duration as needed */
}
